<h1>Mike's Meats & Burgers!</h1>

<h2>To Be Eaten Menu!</h2>

<ul>
  {{#each cats}}
    {{#unless this.devoured}}
      <li>
        {{this.name}}
        {{!-- This *should* switch the value of devoured to "true" --}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour Me!</button>
        </form>

        <form action="/{{this.id}}" method="UPDATE">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour Me!</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Already Eaten Burgers</h2>

<ul>
  {{#each cats}}
    {{#if this.devoured}}
      <li>
        {{this.name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="bn">Burger Name:</label>
    <input type="text" id="bn" name="name">
  </div>

  <button type="submit">Add To List!</button>
</form>
